{% extends "base.html" %}
{% block title %}hotspots{% endblock %}
{% block head %}
        <!-- Typeahead -->
        <script src="/static/scripts/typeahead_prefetch_regions.js"></script>
        <script src="/static/scripts/typeahead.min.js/typeahead.bundle.min.js"></script>
        <script src="/static/scripts/typeahead.min.js/typeahead.jquery.min.js"></script>
        <script src="/static/scripts/typeahead.min.js/bloodhound.min.js"></script>
        <!-- End Typeahead -->
{% endblock %}
{% block content %}
    <p><h6>See region's hotspots:</h6></p>
    <div id="prefetch-find" class="list-unstyled list-group mb-3">
        <!-- Typeahead -->
        <input autofocus class="typeahead form-control" type="text" placeholder="Search State or County" />
    </div>
    <div id="previous-regions">
        {% if previous != None and previous|length > 0 %}
            <ul class="list-unstyled list-group">
                <li class="list-group-item list-group-item-secondary">Previous Regions:</li>
                {% for item in previous %}
                    {% if item != None %}
                        <li class="list-group-item list-group-item-action"><a href="/{{ page }}/{{ item }}">{{ item }}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="list-group-item list-group-item-warning"><a href="/clear">[Clear]</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}