{% extends "base.html" %}
{% block title %}providers{% endblock %}
{% block content %}
    <ul class="list-unstyled list-group">
        <li class="list-group-item">&nbsp;Data provided by <a href="http://www.ebird.org" class="external">eBird</a></li>
        <li class="list-group-item">
            <a href="https://join.birds.cornell.edu/ea-action/action?ea.client.id=1806&#038;ea.campaign.id=39939&#038;" id="" target="_self" title="Donate Now" rel="" target="_blank">
                <img width="175" height="55" alt="Donate Now" src="/static/images/ebird_button_donate.png" />
            </a>
        </li>
    </ul>
    <br>
    <ul class="list-unstyled list-group">
        <li class="list-group-item">Integrated to <a href="https://twitter.com/typeahead" class="external">typeahead.js</a></li>
        <li class="list-group-item">
            <a href="https://twitter.com/typeahead" target="_blank"><img height="55" alt="typeahead" src="/static/images/typeahead.gif" /></a>
        </li>
    </ul>
{% endblock %}